[submodule "public"]
	path = public
	url = git@github.com:HankLi0130/HankLi0130.github.io.git
	branch = main
[submodule "themes/minimal"]
	path = themes/minimal
	url = https://github.com/calintat/minimal.git
